body{
	background-image: url('https://source.unsplash.com/random/?ocean');
}

#Content
{
	float: abosolute;
	background: #fff;
	color: #000;
	border: 1px solid #CCC;
	padding: 1em;
	margin: 0;
	width: calc( 100% - 245px );
}
