body{
	background-image: url('https://source.unsplash.com/random/?ocean');
}

#Content
{
	float: auto;
	background: #fff;
	color: #000;
	border: 1px solid #CCC;
	padding: 1em;
	margin: auto;
	width: calc( 100% - 150px );
}
