@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
	background-image: url('./bck.png');
	font-family: 'Poppins';
}

#Content
{
	float: auto;
	background: #fff;
	color: #000;
	border: 1px solid #CCC;
	padding: 1em;
	margin: auto;
	width: calc( 100% - 150px );
}
